{% extends "base.html" %}

{% block body %}
<div class="row d-flex justify-content-center mt-5">
    <!-- doing tasks -->
    <div class="p-4 col-md-3">
      <div class="card-hover-shadow-2x mb-3 card">
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="fa fa-tasks"></i>&nbsp; Working On
          </div>
        </div>
        <div id="tasks" class="scroll-area-sm">
          <perfect-scrollbar class="ps-show-limits">
            <div style="position: static;" class="ps ps--active-y">
              <div class="ps-content">
                <ul id="workingOnTasksSection" class="list-group list-group-flush"></ul>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
        <div class="text-right card-footer">
          <button id="openAddWorkingOnTaskModal" class="btn btn-info">Add Task</button>
        </div>
      </div>
    </div>

    <!-- done tasks -->
    <div class="p-4 col-md-3">
      <div class="card-hover-shadow-2x mb-3 card">
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="fa fa-check"></i>&nbsp; Done
          </div>
        </div>
        <div id="tasks" class="scroll-area-sm">
          <perfect-scrollbar class="ps-show-limits">
            <div style="position: static;" class="ps ps--active-y">
              <div class="ps-content">
                <ul id="doneTasksSection" class="list-group list-group-flush"></ul>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
        <div id="openAddDoneTaskModal" class="text-right card-footer">
          <button class="btn btn-info">Add Task</button>
        </div>
      </div>
    </div>


    <!-- blocked tasks -->
    <div class="p-4 col-md-3">
      <div class="card-hover-shadow-2x mb-3 card">
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="fa fa-exclamation-circle"></i>&nbsp; Unfinished
          </div>
        </div>
        <div id="tasks" class="scroll-area-sm">
          <perfect-scrollbar class="ps-show-limits">
            <div style="position: static;" class="ps ps--active-y">
              <div class="ps-content">
                <ul id="unfinishedTasksSection" class="list-group list-group-flush"></ul>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
        <div id="openAddUnfinishedTaskModal" class="text-right card-footer">
          <button class="btn btn-info">Add Task</button>
        </div>
      </div>
    </div>
  </div>

  <dialog id="modal">
      <form method="post" id="createTaskForm">
        <input type="hidden" name="status">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="taskTitle">Title</label>
            <!-- <input type="title" name="title" class="form-control" id="taskTitle" aria-describedby="titleHelp" placeholder="Enter Title"> -->
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            <input type="title" name="title" class="form-control" id="taskTitle" placeholder="Enter Title">
            <small class="text-danger"></small>
          </div>

          <div class="row col-md-6 form-group">
            <div class="col-md-4">
              <label for="taskDays">Day(s)</label>
              <input type="number" min="0" name="taskDurationDays" class="form-control" id="taskDays" placeholder="Enter Days">
              <small class="text-danger"></small>
            </div>

            <div class="col-md-4">
              <label for="taskHours">Hour(s)</label>
              <input type="number" min="0" name="taskDurationHours" class="form-control" id="taskHours" placeholder="Enter Hours">
              <small class="text-danger"></small>
            </div>
            
            <div class="col-md-4">
              <label for="taskMinutes">Minute(s)</label>
              <input type="number" min="0" name="taskDurationMinutes" class="form-control" id="taskMinutes" placeholder="Enter Minutes">
              <small class="text-danger"></small>
            </div>
          </div>

          <div class="col-md-6 form-group">
            <label for="taskDescription">Description</label>
            <!-- <input type="title" name="title" class="form-control" id="taskTitle" aria-describedby="titleHelp" placeholder="Enter Title"> -->
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            <textarea style="resize: none;" rows="5" cols="40" name="description" class="form-control" id="taskDescription" placeholder="Write Some Description..."></textarea>
            <small class="text-danger"></small>
          </div>
        </div>

        <div class="d-block text-right">
          <button type="button" id="closeModalBtn" class="btn btn-danger">cancel</button>
          <button id="addTaskBtn" class="btn btn-success">add</button>
        </div>
      </form>

      
  </dialog>
  <div id="overlay"></div>

{% endblock %}
